body{
    background-color: rgb(211, 199, 199);
}

header h1{
    text-transform: uppercase;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: azure;
    max-width:  80%;
    color: rgb(85, 18, 148);
    margin: 1rem auto;
    padding: .5rem;
}

nav ul{
    background-color: aqua;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    max-width: 81.1%;
    margin: 0 auto;
    padding-left: 0;
}
nav ul li{
    margin: 0 auto;
}

@media (min-width: 300px) and (max-width: 700px){
    body{
        background-color: azure;
    }
}